body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	background-image: url(IndexWallpaper.jpg);
	background-size: 1920px 1080px;
	background-position:top;
	background-attachment: fixed;
}

#wrapper {
	background-color: rgba(15, 25, 35, 0.85);
	position: relative;
	text-align: left;
	width: 910px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(shadow-bg.jpg);
	background-repeat:repeat-y;
}


#main {
	padding: 0 20px 20px 20px;
	background-repeat:no-repeat;
	background-position: bottom left;
	
}

#header {
	background-image: url(mysql-php-logos.png);
	background-repeat:no-repeat;
    height:150px;
    position:relative;
    border-bottom: 1px solid #ececec;
}

#header h1 {
	margin: 0;
    padding: 0;
    font-weight:normal;
    color: #FFF;
    font-size: 200%;
    position:absolute;
    bottom: 4px;
    right: 10px;
}

#subheader h2 {
	color: #FFF;
	font-size: 100%;
	line-height: 1.8em;
}

#content {
	color: #FFF;
	margin-left: 230px;
	padding: 0 10px 0 0;
}

#content p {
	color: #FFF;
	font-size: 120%;
	line-height: 1.8em;
}

#content h3 {
	color: #FFF;
	font-size: 120%;
	line-height: 1.8em;
}

#content code {
	color: #EEE;
	font-size: 120%;
	line-height: 1.8em;
}

#content spc {
	color: #FF0;
	font-size: 120%;
	line-height: 1.8em;
}
#content tch {
    color: #0FF;
    line-height: 1.8em;
    font-size: 120%;
}



#navigation {
	position: absolute;
	top: 150px;
	left: 30px;
	width: 180px;
}

#navigation ul {
	list-style: none;
	margin: 1em 0 0 0;
	padding: 0;
	border: none;
}

#navigation li {
	font-size: 90%;
}

#navigation a:link, #navigation a:visited {
	color: #FFF;
    background-color:transparent;
    display:block;
    border-bottom: 1px solid #999;
    padding: 1em 0 0.2em 0;
    text-decoration:none;
}

#navigation a:hover {
	color: #999;
}

#footer {
	font-size: 80%;
	color: #FFF;
	padding-top: 1em;
    text-align:right;
    color: #999;
    background-color: transparent;
}